.ng-draggable {
    position: absolute;
    cursor: move;
  }


.card_table{
  height: 100%;
  width:50%;
  overflow: hidden;
  float: left;

}

.stats_area {
  float: right;
  overflow: hidden;
  width: 44%;
  border: 1px solid red
}
