

<div class="card_table" #cardTable >
       
  <div *ngFor="let power of character.powers"  class = "card" 
  ngDraggable  
  (endOffset)="onMoveEnd($event,power.id)" 
  [preventDefaultEvent]=true 
  [bounds]="cardTable"  
  [zIndex]="z_index[power.id]" 
  [zIndexMoving]= 999
  [trackPosition]=false
  [position]="positions[power.id]"
  [inBounds]=true
  style="display: inline-block;"
  [contextMenu]="basicMenu" >
  <app-power-card-detail [apower]="power" ></app-power-card-detail>
  </div>
</div>

<div class="stats_area">
    <app-status-editor [stats]="character.stats"></app-status-editor>
    
    
</div>
<context-menu class="contextmenustyle" #basicMenu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      Say hi!
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem let-item (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
      Bye, {{item?.name}}
    </ng-template>
    <ng-template contextMenuItem passive="true">
      Input something: <input type="text">
    </ng-template>
  </context-menu>