.ng-draggable {
    position: absolute;
    cursor: move;
  }


.card_table{
  height: 100%;
  width:80%;

  float: left;

}

.stats_area {
  float: right;
  overflow: hidden;
  width: 18%;
  border: 1px solid red
}
